

/* ***************************************************** */


/*----------------------------------------------
CSS settings for Add Recipe Popup
------------------------------------------------*/
#popupContainer {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto;
}
#popupContainerDelete {
    width:100%;
    height:100%;
    opacity:.95;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto;
    }

#deletePopup{
display: flex;
flex-wrap:wrap;
flex-direction: column;
justify-content: center;
max-width:250px;
min-width:200px;
height: 50px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
background-color:#fff;

position:absolute;
left:50%;
top:17%;
margin-left:-202px;
}

    
img{
    width: 10%;
}
img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer;
}

div#popupSubmitRecipe {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
}

form#recipeForm {
display: flex;
flex-wrap:wrap;
justify-content: center;
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
background-color:#fff
}

textarea {
display: flex;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
margin-bottom:30px
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
/* span {
color:red;
font-weight:700
} */
/* button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
} */



.ingredientSection{
    margin: 15px
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

/* .col1{
    height: 100px;
}

.col2{
    height: 100px;
}
.col3{
    height: 100px;
} */

input{
    max-width: 100px;
}
input#recipeNameField{
    max-width: fit-content;
}




.ck.ck-reset{
    max-width: 350px;
}

/*----------------------------------------------
CSS settings for Measurement Conversion
------------------------------------------------*/

#measurementConvertSection{
    border: 1px solid black;
}